<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in some weird place in New Zealand. His family was being hunted by giant spiders at the time, so they had their pet flying fox, Tyoisjf, fly Foobar to England. There, he was taken into the custody of his uncle. It was here where Foobar beceame the spider killer we know him as today.</p>
<p>His favorite quotation is:</p>
<p>I'm tired of these gosh darn spiders in this gosh darn country!</p>